
body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width: 90%;
  max-width: 450px;
  transition: all 0.3s;
}

.container:hover {
  transform: translateY(-2px);
}

h1 {
  text-align: center;
  color: #2f3640;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px 12px;
  border: 2px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  transition: border-color 0.2s;
}

#add-btn {
  background: #0097e6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

#add-btn:hover {
  transform: scale(1.05);
}


ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f1f2f6;
  margin-bottom: 12px;
  padding: 12px 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
}


.delete-btn:hover {
  color: red;
  transform: scale(1.2);
}

li:hover {
  background: #dcdde1;
  cursor: pointer;
}

.edit-btn, .delete-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.edit-btn:hover {
  color: orange;
  transform: scale(1.2);
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    padding: 20px;
  }

#task-input {
    font-size: 14px;
    padding: 8px;
  }

  #add-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  li {
    padding: 10px;
    font-size: 14px;
  }

  .delete-btn, .edit-btn {
    font-size: 16px;
  }
}

.completed {
  text-decoration: line-through;
  color: #7f8fa6;
}